<% @comments.each do |c| %>
    <p><%= c.title %> - <%= c.id %> 
    <% if current_user == c.user %>
            <a href="/articles/<%= c.article_id %>/comments/<%= c.id %>/edit">Edit</a> 
    <% end %>
    </p>
<% end %>
