<div class="container">
  <header><img src="https://images.unsplash.com/photo-1495020689067-958852a7765e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width="601" height="401" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to TrendsInTheNews!</h2>

    <div class="content">
      <p>It's great to have you! If you're seeing this page, please <a href="/signup">sign up</a>, <a href="/login">login</a>, or choose from a list of <a href="/articles">articles</a> first.</p>
    </div>


  </div>
</div>
